body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color:#F0FFF0;
    height: 630px;
}
.icon{
    width: 200px;
}
.highlight{
    color:#2E8B57;
}
#change-color{
    color: goldenrod;
}
#color-change{
    color:#2E8B57;
}
.btn{
    color: white;
    background-color: #2E8B57;
    border-radius: 40px;
    padding: 10px 30px;
}
h1{
    font-size: 51px;
}

h4{
    text-align: center;
    color: rgb(3, 3, 58);
}
h6{
    text-align: center;
    color: rgb(3, 3, 58);
}
h2{
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
    color: rgb(3, 3, 58);

}
.carousel-img{
    margin-top: 50px;
    width: 100%;
    height: 420px;
}
/*topic part*/

.cards-first{
    margin-top: 50px;
    text-align: center;
    border: none;
    box-shadow: none;
    background-color: rgb(253, 251, 247);
    border-radius: 10px;
}


.topic img{
        width: 100%;
        padding: 80px 82px;
        height: 250px;
        margin-top:-60px;
    }
    

.cards-first:hover{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px darkgray;
    background-color: white;
}
.cards-body{
    height: 80px;
}

/*online course card part */

.card-title{
    text-align: start;
}
.card{
    box-shadow: 7px 7px 12px darkgray;
    border-radius: 10px;
    margin-top: 50px;
    border: none;
}
.card img{
    padding: 15px 15px;
    border-radius: 10px;
}
.card-text img{
    text-align: left;
    width: 50px;
    height: 50px;
}

/*testimonial part */

.icon-man{
    width: 130px;
    height: 130px;
    margin-bottom: 70px;
}
.man-part{
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
}
.man-p{
    margin-left: 30px;
    margin-top: 20px;
}

footer{
    background-color:rgb(40, 37, 49) ;

}
#color{
    margin-top: 20px;
    color: white;
    padding: 50px 30px;
}
.high-light{
    color: yellow;
}
#another-card:hover{
    box-shadow: 5px 5px 10px #F0FFF0;;
    background-color: white;
   
}  
.btn:hover{
    color: white;
    background-color:rgb(206, 79, 21);
    border-radius: 40px;
    padding: 10px 30px;
    box-shadow: 5px 5px 5px rgb(233, 233, 25);
}
.card:hover{
    background-color: rgb(238, 235, 228);
}
.text-center{
    margin-top: 60px;
}

/*media query */
@media (max-width:900px){

    .topic img{
        width: 210px;
        height: 230px;
    }
    .card-first{
        margin-top:80px;
        background-color: #F0FFF0;
        border-radius: 10px;
    }
    .carousel-img{ 
        width: 100%;
        height: 250px;
        margin-top: -10px;
     
    }

}
