body{
    font-family: 'Poppins', sans-serif;
}
.icon{
    width: 200px;
}
.highlight{
    color:#2E8B57;
}
#change-color{
    color: goldenrod;
}
#color-change{
    color:#2E8B57;
}
.btn{
    color: white;
    background-color: #2E8B57;
    border-radius: 40px;
    padding: 10px 30px;
}
h1{
    font-size: 51px;
}
h2{
    font-size: 40px;
}
.car-img{
    width:100%
}
.carousel-item{
    padding: 10px 20px;
    margin-top: 50px;
}

.col img{
    text-align: center;
    width: 100%;
    padding: 80px 82px;
    margin-top: 550px;
    height: 260px;
}
h4{
    text-align: center;
    color: rgb(3, 3, 58);
}
h6{
    text-align: center;
    color: rgb(3, 3, 58);
}
h2{
    text-align: center;
    margin-top: 70px;
    color: rgb(3, 3, 58);
}

#another-card{
    margin-top: 550px;
    border: none;
    text-align: center;
    box-shadow: none;
    background-color: rgb(253, 251, 247);

   
}
#another-card img{
    width:180px;
    height: 130px;
    image-orientation: flip;
    padding-left: 80px;
}
.card-title{
    text-align: start;
}
.card{
    box-shadow: 5px 5px 10px darkgray;
    border-radius: 10px;
    margin-top: 50px;
}
.card img{
    padding: 15px 15px;
    border-radius: 10px;
}
.card-text img{
    text-align: left;
    width: 50px;
    height: 50px;
}
.icon-man{
    width: 130px;
    height: 130px;
    margin-bottom: 70px;
}
.man-part{
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
}
.man-p{
    margin-left: 30px;
    margin-top: 20px;
}
#color{
    margin-top: 20px;
    color: white;
    background-color:#2F4F4F;
    padding: 50px 30px;
}
footer{
    margin-top: 60px;
}
.high-light{
    color: yellow;
}
#another-card:hover{
    box-shadow: 5px 5px 10px darkgray;
    background-color: white;
   
}  
.btn:hover{
    color: white;
    background-color:rgb(206, 79, 21);
    border-radius: 40px;
    padding: 10px 30px;
    box-shadow: 5px 5px 5px rgb(233, 233, 25);
}
.card:hover{
    background-color: rgb(238, 235, 228);
}